ion-toolbar {
    ion-title, ion-buttons {
        font-weight: bold;
    }
}
ion-card.card {
    box-shadow: none;

    h1, h2 {
        color: black;
        font-weight: bold;
    }
}

.bold {
    font-weight: bold;
    color: black;
}

.text p, .font {
    font-size: 16px;
}

hr {
    border: 1px solid #ccc;
}