<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      चक्षु - The Covid Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>

    <ion-card class="ion-padding card">
      <div class="ion-text-center">
        <h1>CIMS - Covid 19 Information Management System</h1>
        
        <h1>Government of Bihar</h1>

        <h2>प्रभावित व्यक्तियों की निगरानी और ट्रैकिंग के उद्देश्य के लिए (For the Purpose of Monitoring & Tracking of Affected Persons)</h2>

        <p>(Logged In As {{ userData?.name }})</p>
      </div>
    </ion-card>



    <form [formGroup]="userDataExistForm" (ngSubmit)="checkUserdataExistForm()">
    <ion-card class="ion-no-margin ion-margin-vertical bottom-radius-form shadow px-3">

      <ion-card-content>
        <ion-list class="ion-no-margin ion-no-padding">

          <ion-item>
            <ion-label position="floating">Enter Unique ID</ion-label>
            <ion-input
              type="text" 
              disabled="true"
              [value]="infectedPersonId"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Select Date</ion-label>
            <ion-datetime 
              type="text" 
              name="date"
              displayFormat="MMM/DD/YYYY"
              [max]="todaysDate"
              formControlName="date"></ion-datetime>
          </ion-item>
          <br>

          <ion-row>
            <ion-col>
              <ion-select
                placeholder="-- Select time slot --"
                interface="popover"
                class="ion-no-padding ion-padding-horizontal"
                name="time"
                formControlName="time">
                  <ion-select-option value="">-- Select time slot --</ion-select-option>
                  <ion-select-option value="Morning">Morning (प्रातः 8 बजे से अपराह्न 2:00 बजे तक - From 8 AM to 2 PM)</ion-select-option>
                  <ion-select-option value="Evening">Evening (अपराह्न 2:00 बजे से रात्रि 6:00 बजे तक - From 2 PM to 6 PM)</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <br>

        </ion-list>

        <ion-button
          expand="block"
          color="success"
          class="ion-margin-vertical btn-width"
          type="submit">Submit</ion-button>

      </ion-card-content>

    </ion-card>
    </form>



    <form *ngIf="showForm" [formGroup]="userForm" (ngSubmit)="submitForm()">
      <ion-card class="ion-no-margin ion-margin-vertical">
        <ion-card-header>
          <ion-card-title class="bold">Selected District: {{ userData?.district }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h2 class="bold" color="dark">Details</h2>
          <div class="text ion-margin-vertical">
            <p>
              <ion-text color="medium">
                Unique ID: {{ infectedPersonId }}
                Date Selected: {{ date | date}}
                Time: {{ slot }}
              </ion-text>
            </p>
          </div>
          <br>


          <ion-radio-group value="yes" formControlName="isAvailable" (ionChange)="availabilityChange($event)">
            <ion-row>
              <ion-list-header class="ion-no-padding ion-padding-horizontal">
                <ion-label class="font">क्या यह व्यक्ति घर पर उपलब्ध है? - Is this person available at home?</ion-label>
              </ion-list-header>
            </ion-row>
            
            <ion-row class="radio-buttons">
              <ion-col size="6" class="ion-no-padding">
                <ion-item>
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="yes"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="no"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <br>


          <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">व्यक्ति का नाम - Name</ion-label>
              <ion-input 
                type="text"
                disabled="true"
                [value]="monitoredUserData?.name"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">पिता/पति का नाम - Father or Husband Name</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.guardian_name"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">लिंग - Gender</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.gender"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">उम्र - Age</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.age"></ion-input>
            </ion-item>
            <br>
            <br>
          </ion-list>


          <h1 class="bold ion-padding-horizontal" color="dark">मोबाइल नंबर - Mobile Number</h1>
          <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">स्वयं का - Self</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.contact"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">पड़ोसी या रिश्तेदार का नाम - Neighbour or relative</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.other_contact"></ion-input>
            </ion-item>
            <br>
            <br>
          </ion-list>


          <h1 class="bold ion-padding-horizontal" color="dark">पता - Address</h1>
          <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">District</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.district"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">Block</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.block"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">पंचायत / नगर का नाम - Panchayat/Town Name</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.panchayat"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">गाँव - Village</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.village"></ion-input>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">वार्ड नंबर और हाउस नंबर - Ward Number & House Number</ion-label>
              <ion-input 
                type="text" 
                disabled="true"
                [value]="monitoredUserData?.ward"></ion-input>
            </ion-item>
            <br>
            <br>
          </ion-list>


          <h1 class="bold ion-padding-horizontal" color="dark">आधिकारिक संपर्क किया गया - Official Contacted</h1>
          <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">नाम - Name</ion-label>
              <ion-input 
                type="text"
                name="officialName"
                formControlName="officialName" 
                (ionBlur)="logValidationErrors()"></ion-input>
            </ion-item>
            <ion-item 
              class="ion-no-padding error-list" 
              lines="none" 
              *ngIf="formErrors.officialName">
                <ul lines="none">
                  <li color="danger">{{ formErrors.officialName }} </li>
                </ul>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">पदनाम - Designation</ion-label>
              <ion-input 
                type="text"
                name="officialDesignation"
                formControlName="officialDesignation"
                (ionBlur)="logValidationErrors()"></ion-input>
            </ion-item>
            <ion-item 
              class="ion-no-padding error-list" 
              lines="none" 
              *ngIf="formErrors.officialDesignation">
                <ul lines="none">
                  <li color="danger">{{ formErrors.officialDesignation }} </li>
                </ul>
            </ion-item>
            <br>

            <ion-item>
              <ion-label position="floating">मोबाइल - Mobile</ion-label>
              <ion-input 
                type="text"
                name="officialPhone"
                formControlName="officialPhone" 
                (ionBlur)="logValidationErrors()"></ion-input>
            </ion-item>
            <ion-item 
              class="ion-no-padding error-list" 
              lines="none" 
              *ngIf="formErrors.officialPhone">
                <ul lines="none">
                  <li color="danger">{{ formErrors.officialPhone }} </li>
                </ul>
            </ion-item>
            <br>
            <br>

          </ion-list>

          <h1 class="bold ion-padding-horizontal" color="dark">प्रभावित व्यक्ति की स्थिति - Condition of the Person affected</h1>
          <ion-list class="ion-no-margin ion-no-padding">
            <ng-container *ngIf="showSymptoms">
              <ng-container *ngFor="let symptom of symptomsList">
                <ion-item>
                  <ion-label>{{ symptom.label }}</ion-label>
                  <ion-checkbox [value]="symptom.value" name="symptoms" formControlName="symptoms" (click)="selectMember($event)"  [checked]="symptom.isChecked" color="primary" slot="start"></ion-checkbox>
                </ion-item>
                <br>
              </ng-container>
            </ng-container>


            <ion-row>
              <ion-list-header class="ion-no-padding ion-padding-horizontal">
                <ion-label class="font">क्या घर / क्वारंटाइन कैम्प में स्वयं को सीमित रखें है (Quarantined at home or at camp?)</ion-label>
              </ion-list-header>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select
                  interface="popover"
                  color="dark"
                  class="ion-no-padding ion-padding-horizontal"
                  name="quarantined"
                  formControlName="quarantined">
                    <ion-select-option value="at_home">घर में - At Home</ion-select-option>
                    <ion-select-option value="at_isolation">क्वारंटाइन कैम्प में - At Quarantine Camp</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <br>

            <ion-radio-group value="yes" formControlName="poster">
              <ion-row>
                <ion-list-header class="ion-no-padding ion-padding-horizontal">
                  <ion-label class="font">क्या मकान या घर के बाहर quarantine का पोस्टर लगा है?</ion-label>
                </ion-list-header>
              </ion-row>
              
              <ion-row class="radio-buttons">
                <ion-col size="6" class="ion-no-padding">
                  <ion-item>
                    <ion-label>हाँ Yes</ion-label>
                    <ion-radio slot="start" value="yes"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6" class="ion-no-padding">
                  <ion-item>
                    <ion-label>नहीं No</ion-label>
                    <ion-radio slot="start" value="no"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <br>
            <br>

            <ion-item>
              <ion-label position="floating">Remarks</ion-label>
              <ion-input 
                type="text"
                name="remarks"
                formControlName="remarks"
                (ionBlur)="logValidationErrors()"></ion-input>
            </ion-item>
            <ion-item 
              class="ion-no-padding error-list" 
              lines="none" 
              *ngIf="formErrors.remarks">
                <ul lines="none">
                  <li color="danger">{{ formErrors.remarks }} </li>
                </ul>
            </ion-item>
            <br>

          </ion-list>

          <!-- Display Captured Picture - Starts-->
          <ion-grid id="image" *ngIf="picture" class="ion-no-padding ion-no-margin">
            <ion-row>
              <ion-col class="ion-no-padding relative">
                <div class="img"><img [src]="picture"></div>
              </ion-col>
              <ion-col>
                <ion-text color="dark" class="absolute-text-2">
                  <p><ion-text class="bold">Address: </ion-text> {{ address }}</p>
                  <P><ion-text class="bold">Lat: </ion-text> {{ lat }}</P>
                  <P><ion-text class="bold">Long: </ion-text> {{ long }}</P>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
             
            </ion-row>
          </ion-grid>
          <!-- Display Captured Picture - End -->

          <p><ion-text color="success">व्यक्ति के घर की फोटो खींचें और सबमिट करें</ion-text></p>
          <ion-button
            color="danger"
            (click)="openCamera()">Take a Photo</ion-button>

          <ion-button
            color="primary"
            class="ion-margin-vertical btn-width"
            type="submit">Submit</ion-button>

        </ion-card-content>

      </ion-card>
    </form>

    <div id="existMessage" *ngIf="showExistMessage" class="ion-margin ion-text-center">
      <br>
      <h1 class="ion-margin-vertical">
        <ion-text color="danger">
          Record already exists for Unique ID {{ infectedPersonId }} of {{ date | date }} - <span>{{ slot }}</span>
        </ion-text>
      </h1>
      <br><br>
    </div>
    
  </ion-grid>

</ion-content>
