<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      चक्षु - The Covid Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-grid>

    <ion-card class="ion-padding card">
      <div class="ion-text-center">
        <h1>CIMS - Covid 19 Information Management System</h1>
        
        <h1>Government of Bihar</h1>
      </div>
    </ion-card>

    <ion-card class="bottom-radius-form shadow px-3">

      <form [formGroup]="userLoginForm" (ngSubmit)="login()">
        <ion-card-content>
          <ion-list class="ion-no-margin ion-no-padding">

            <ion-item>
              <ion-label position="floating">User ID</ion-label>
              <ion-input
                type="text" 
                name="user_id"
                autofocus="true"
                formControlName="user_id"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                name="password"
                autocomplete="off"
                formControlName="password"></ion-input>
            </ion-item>
  
          </ion-list>

          <ion-button
            color="primary"
            class="ion-margin-vertical btn-width"
            type="submit">Login</ion-button>
          
        </ion-card-content>
      </form>

    </ion-card>
  </ion-grid>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title color="medium">चक्षु - Version: 2.5.0</ion-title>
  </ion-toolbar>
</ion-footer>

