<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      चक्षु - The Covid Tracker
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-grid>

    <ion-card class="ion-padding card">
      <div class="ion-text-center">
        <h1>CIMS - Covid 19 Information Management System</h1>
        
        <h1>Government of Bihar</h1>

        <h1>Assigned User</h1>

        <p>(Logged In As {{ userData?.name }})</p>

        <ion-button
          color="danger"
          (click)="logout()">Logout</ion-button>
      </div>
    </ion-card>


    <!--
    | Search Form STARTS
    -->
    <form [formGroup]="userSearchForm" (ngSubmit)="searchUser()">
    <ion-card class="ion-no-margin ion-margin-vertical bottom-radius-form shadow px-3">

      <ion-card-content>
        <ion-list class="ion-no-margin ion-no-padding">

          <ion-row>
            <ion-col size="6">
              <ion-select
                placeholder="Block"
                interface="action-sheet"
                okText="Okay"
                cancelText="Close"
                class="ion-no-padding ion-padding-horizontal"
                formControlName="block"
                (ionChange)="getPanchayatList($event)">
                  <ion-select-option value="all">All</ion-select-option>
                  <ion-select-option
                    *ngFor="let blockLists of blockLists$ | async"
                    [value]="blockLists.block">{{ blockLists.block }}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="6">
              <ion-select
                placeholder="Panchayat"
                interface="action-sheet"
                okText="Okay"
                cancelText="Close"
                class="ion-no-padding ion-padding-horizontal"
                formControlName="panchayat">
                  <ion-select-option value="all">All</ion-select-option>
                  <ion-select-option
                    *ngFor="let panchayatLists of panchayatLists$ | async"
                    [value]="panchayatLists.gp">{{ panchayatLists.gp }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label position="floating">Search By Unique ID</ion-label>
            <ion-input
              type="text" 
              name="uid"
              formControlName="uid"
              autofocus="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Search By Name</ion-label>
            <ion-input
              type="text"
              name="name"
              formControlName="name"
              autocomplete="off"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Search By Mobile No.</ion-label>
            <ion-input
              type="text"
              name="phone"
              formControlName="phone"
              autocomplete="off"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button
          color="primary"
          class="ion-margin-vertical btn-width"
          type="submit">Search</ion-button>

        <div class="ion-text-center">
          <ion-button
            color="primary"
            size="small"
            fill="outline"
            (click)="clearFilter()">Reset</ion-button>
        </div>
        
      </ion-card-content>

    </ion-card>
    </form>
    <!--
    | Search Form ENDS
    -->


    <ion-card class="ion-no-margin ion-margin-vertical ion-no-padding" *ngIf="filterUserist && filterUserist.length > 0;else noData">
      <ion-card-content class="ion-no-padding">

        <ion-virtual-scroll [items]="filterUserist" approxItemHeight="320px">

          <ion-grid *virtualItem="let item" class="ion-margin-vertical user-list">
            <ion-row class="ion-no-padding ion-no-margin heading">
              <ion-col size="2">U. ID</ion-col>
              <ion-col size="3">Name</ion-col>
              <ion-col size="4">Age</ion-col>
              <ion-col size="3">Contact</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <ion-text (click)="openForm(item.id)" color="primary">{{ item.id }}</ion-text>
              </ion-col>
              <ion-col size="3">{{ item.name }}</ion-col>
              <ion-col size="4">{{ item.age }}</ion-col>
              <ion-col size="3">{{ item.contact }}</ion-col>
            </ion-row>
  
            <ion-row class="heading">
              <ion-col size="2"></ion-col>
              <ion-col size="3">Other Contact</ion-col>
              <ion-col size="4">Panchayat</ion-col>
              <ion-col size="3">Vilage</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="3">{{ item.other_contact }}</ion-col>
              <ion-col size="4">{{ item.panchayat }}</ion-col>
              <ion-col size="3">{{ item.village }}</ion-col>
            </ion-row>
  
            <ion-row class="heading">
              <ion-col size="2"></ion-col>
              <ion-col size="3">Ward</ion-col>
              <ion-col size="4">Quarantine</ion-col>
              <ion-col size="3">Status</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="3">{{ item.ward }}</ion-col>
              <ion-col size="4">
                {{ item.current_quarantined_status === 'at_isolation' ? 'At Isolation Camp' : item.current_quarantined_status === 'at_home' ? 'At Home' : item.current_quarantined_status}} 
                (Last Entry: {{ item.current_date }} {{ item.current_slot  }})
              </ion-col>
              <ion-col size="3">{{ item.status }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-virtual-scroll>
        

      </ion-card-content>
    </ion-card>

    <ng-template #noData>
      <div class="ion-margin ion-text-center">
        <br>
        <h1 class="ion-margin-vertical">
          <ion-text color="danger">
           No Data Found
          </ion-text>
        </h1>
        <br><br>
      </div>
    </ng-template>
    
    

  </ion-grid>
</ion-content>
