<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      चक्षु - The Covid Tracker
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText" onClick="toggleText()">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-grid>

    <ion-card class="ion-padding card">
      <div class="ion-text-center">
        <h1>CIMS - Covid 19 Information Management System</h1>
        
        <h1>Government of Bihar</h1>

        <h1>Assigned User</h1>

        <p>(Logged In As Field Exec. {{ userData?.id }})</p>

        <ion-button
          color="danger"
          (click)="logout()">Logout</ion-button>
      </div>
    </ion-card>


    <!--
    | Search Form STARTS
    -->
    <form [formGroup]="userSearchForm" (ngSubmit)="searchUser()">
    <ion-card class="ion-no-margin ion-margin-vertical bottom-radius-form shadow px-3">

      <ion-card-content>
        <ion-list class="ion-no-margin ion-no-padding">

          <ion-row>
            <ion-col size="6">
              <ion-select
                placeholder="Block"
                interface="action-sheet"
                okText="Okay"
                cancelText="Close"
                class="ion-no-padding ion-padding-horizontal"
                formControlName="block"
                (ionChange)="getPanchayatList($event)">
                  <ion-select-option value="all">All</ion-select-option>
                  <ion-select-option
                    *ngFor="let blockLists of blockLists$ | async"
                    [value]="blockLists.block">{{ blockLists.block }}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="6">
              <ion-select
                placeholder="Panchayat"
                interface="action-sheet"
                okText="Okay"
                cancelText="Close"
                class="ion-no-padding ion-padding-horizontal"
                formControlName="panchayat">
                  <ion-select-option value="all">All</ion-select-option>
                  <ion-select-option
                    *ngFor="let panchayatLists of panchayatLists$ | async"
                    [value]="panchayatLists.gp">{{ panchayatLists.gp }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label position="floating">Search By Unique ID</ion-label>
            <ion-input
              type="text" 
              name="uid"
              formControlName="uid"
              autofocus="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Search By Name</ion-label>
            <ion-input
              type="text"
              name="name"
              formControlName="name"
              autocomplete="off"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Search By Mobile No.</ion-label>
            <ion-input
              type="text"
              name="phone"
              formControlName="phone"
              autocomplete="off"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button
          color="primary"
          class="ion-margin-vertical btn-width"
          type="submit">Search</ion-button>

        <div class="ion-text-center">
          <ion-button
            color="primary"
            size="small"
            fill="outline"
            (click)="clearFilter()">Reset</ion-button>
        </div>
        
      </ion-card-content>

    </ion-card>
    </form>
    <!--
    | Search Form ENDS
    -->


    <ion-card class="ion-no-margin ion-margin-vertical" *ngIf="filterUserist">
      <ion-card-content>

        <ion-grid class="ion-margin-vertical user-list" *ngFor="let person of filterUserist">
          <ion-row class="heading">
            <ion-col>U. ID</ion-col>
            <ion-col>Name</ion-col>
            <ion-col>Age</ion-col>
            <ion-col>Contact</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text (click)="openForm(person.id)" color="primary">{{ person.id }}</ion-text>
            </ion-col>
            <ion-col>{{ person.name }}</ion-col>
            <ion-col>{{ person.age }}</ion-col>
            <ion-col>{{ person.contact }}</ion-col>
          </ion-row>

          <ion-row class="heading">
            <ion-col></ion-col>
            <ion-col>Other Contact</ion-col>
            <ion-col>Panchayat</ion-col>
            <ion-col>Vilage</ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>{{ person.other_contact }}</ion-col>
            <ion-col>{{ person.panchayat }}</ion-col>
            <ion-col>{{ person.village }}</ion-col>
          </ion-row>

          <ion-row class="heading">
            <ion-col></ion-col>
            <ion-col>Ward</ion-col>
            <ion-col>Quarantine</ion-col>
            <ion-col>Status</ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>{{ person.ward }}</ion-col>
            <ion-col>{{ person.quarantined }} (Last Entry: {{ person.datetime | date:'dd-MM-yyyy' }} {{ (person.datetime | date:'aa') === 'AM' ? 'Morning' : 'Evening'}})</ion-col>
            <ion-col>{{ person.status }}</ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
